.jcarousel-wrapper,
.jcarousel_m-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    clear: both;
}

/** Carousel **/

.jcarousel1,
.jcarousel_m {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel1 ul,
.jcarousel_m ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel1 li,
.jcarousel_m li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.jcarousel_m li {
    margin: 0 10px;
}

.jcarousel1 li p,
.jcarousel_m li p {
    text-align: center;
}

.jcarousel1 img,
.jcarousel_m img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin: 0 auto;
}
.jcarousel_m img  {
    width: 150px;
}

/** Carousel Controls **/

.jcarousel1-control-prev,
.jcarousel1-control-next,
.jcarousel_m-control-prev,
.jcarousel_m-control-next  {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}

.jcarousel1-control-prev,
.jcarousel_m-control-prev {
    left: 15px;
}

.jcarousel1-control-next,
.jcarousel_m-control-next {
    right: 15px;
}

/** Carousel Pagination **/

.jcarousel1-pagination,
.jcarousel_m-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel1-pagination a.active,
.jcarousel_m-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
