@font-face {
    font-family: Calibri; /* Имя шрифта */
    src: url(../fonts/CALIBRIL.TTF); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Wonderland; /* Имя шрифта */
    src: url(../fonts/Wonderland.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Zombie; /* Имя шрифта */
    src: url(../fonts/MCNaitPR.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: denistina; /* Имя шрифта */
    src: url(../fonts/denistina.ttf); /* Путь к файлу со шрифтом */
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article, aside, div, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body {
  font-family: Calibri, calibriregular,Helvetica,Arial;
  height: 100%;
}
.wrapper {
  height: 100%;
  height: auto !important;
  min-height: 100%;
  overflow: hidden;
  min-width: 500px;
}
.null {
  clear: both;
  margin-top: 50px;
  display: block;
  height: 290px;
  width: 100%;
  background-color: red;
}
.null:after {
	content: "";
	clear: both;
}

/* HEADER--------------------------------------------------*/
.alert {
padding: 8px;
/* margin-bottom: 20px; */
border: 1px solid transparent;
border-radius: 4px;
margin-bottom: 0px;
margin-top: 0px;
height: 60;
}

.navbar-form {
/* padding: 10px 15px; */
margin-top: 8px;
margin-right: -15px;
margin-bottom: 8px;
margin-left: -15px;
border-top: 1px solid transparent;
border-bottom: 1px solid transparent;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

/* NAVIGATION-----------------------------------------*/
.navbar {
position: relative;
height: 50px;
/* margin-bottom: 20px; */
margin-top: 10px;
border: 1px solid transparent;
margin-bottom: 0px;
}
.dropdown_gifts_menu {
	z-index: 888;
	position: absolute;
	display: none;
	background-color: rgb(255,255,255);
}
.dropdown_catalog_menu {
	z-index: 888;
	position: absolute;
	display: none;
	background-color: rgb(255,255,255);	
}
.dropdown_about_menu {
	z-index: 888;
	position: absolute;
	display: none;
	background-color: rgb(255,255,255);	
}
.glyphicon {
height: 50;
position: relative;
top: 0px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
}

.wrapper {
	height: 100%;
	min-height: 100%;
	height: auto !important;
}

/* PRODUCT ---------------------------------------------------------------------------------------*/
.container.product {
	height: 600px;
}
.product .product_photo .big_product_image {
	width: 100%;
	height: 70%;
	overflow: hidden;
}
.product .product_photo .big_product_image img {
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.product .product_photo .row {
	padding: 15px 15px 15px 0;
}
.product .product_photo .row img {
	float: right;
}
.info {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgb(255,255,255);
	border: 2px solid rgb(0,0,0);
	z-index: 3;
	text-align: center;
	position: absolute;
	right: 10%;
	bottom: 10%;
}
.pop-up {
	width: 400px;
	height: 250px;
	background-color: rgb(255,255,255);
	border: 7px solid rgb(166,166,166);
	position: absolute;
	bottom: 15%;
	left: 15%;
	z-index: 55;
	padding: 10px;
}
.product_description p {
	text-align: center;
	cursor: pointer;
	display: block;
}
.product_description input {
	cursor: pointer;
}
.product_option_image {
	width: 100%;
	height: 220px;
	overflow: hidden;
	cursor: pointer;
}
.product_option_image img {
	width: 100%;
	max-height: 100%;
}

/*CONTACTS----------------------------------------------------------------------- */
.image {
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}
.image img{
	width: 100%;
}
input[name="name"] {
	margin: 0 0 20px 0;
	width: 100%;
}
input[name="phone_number"] {
	width: 100%;
}
textarea {
	width: 100%;
	margin: 0 0 20px 0;
}
.contacts > div > p > a {
	display: inline-block;
	border-bottom: 1px dashed #555;
}
.contacts > div > p > a:first-child {
	margin-right: 50px;
}
.input_row {
	margin-top: 50px;
}


/* Map ----------------------------------------------------------*/

#map-canvas,
#map-canvas2 {
	width: 100%;
	height: 500px;
}
.map {
	padding: 0;
	width: 600px;
}
/*ALL FLOWERS-----------------------------------------------------*/
.flowers_all figure {
	height: 450px;
	width: 350px;
}
.flowers_all .figure_img {
	width: 100%;
	height: 80%;
	overflow: hidden;
}
.flowers_all .figure_img img {
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}
.flowers_all figure figcaption {
	height: 20%;
}


/* ONE CARD------------------------------------------------ */

textarea[name="greeting"] {
	width: 50%;
}
.greeting_styled {
	height: 80px;
	width: 500px;
	background-color: #ddd;
	border: 5px solid #666;
	padding: 15px;
}
.container.card {
	height: 600px;
}
.card .product_photo .big_product_image {
	width: 100%;
	height: 70%;
	overflow: hidden;
}
.card .product_photo .big_product_image img {
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

/* ONE gift------------------------------------------------ */
.container.gift {
	height: 600px;
}
.gift .product_photo .big_product_image {
	width: 100%;
	height: 70%;
	overflow: hidden;
}
.gift .product_photo .big_product_image img {
	height: 100%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

/*CART--------------------------------------------------------*/
.well_prod figure {
	position: relative;
}
.well_prod figure button,
.well_card figure button {
	position: absolute;
	top: 0;
	right: 25%;
	border-radius: 50%;
}
.well_card > div:first-child,
.well_prod > div:first-child {
	overflow: hidden;
}
.well_card > div:first-child img,
.well_prod > div:first-child img {
	width: 100%;
}
.well_prod .cart_image_container,
.well_card .cart_image_container {
	width: 150px;
	height: 150px;
}
.well_prod .cart_image_container img,
.well_card .cart_image_container img {
	width: 100%;
	height: 100%;
}

/*PAYMENTS-------------------------------------------------------*/
.payments > div {
	overflow: hidden;
}
.payments > div img {
	max-width: 100%;
}

/*ORDER------------------------------------------------*/
input[name="name_reciever"],
input[name="address_reciever"],
input[name="phone_reciever"],
input[name="another_phone_reciever"],
input[name="name_client"],
input[name="phone_client"] {
	width: 100%;
	margin-bottom: 20px;
}


/* All gifts------------------------------------*/
.all_gifts figure {
	height: 350px;
}
.all_gifts figure .figure_img {
	width: 100%;
	height: 70%;
	overflow: hidden;
}
.all_gifts figure .figure_img img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

/* MAP--------------------------------------------------*/
#map-container { 
	height: 300px 
}

/* CATALOG----------------------------------------------------------*/
.products_all figure {
	height: 350px;
}
.products_all figure .figure_img {
	width: 100%;
	height: 70%;
	overflow: hidden;
}
.products_all figure .figure_img img {
	width: auto;
	height: 100%;
	display: block;
	margin: 0 auto;
}